{% extends 'base.html' %}

{% block title %}Editar Trabajadores{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Monto Base</th>
            <th>Bono Producción</th>
            <th>Fecha Contrato</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for trabajador in trabajadores %}
        <tr>
            <td>{{ trabajador.Nombre }}</td>
            <td>{{ trabajador.monto_base }}</td>
            <td>{{ trabajador.bono_produccion }}</td>
            <td>{{ trabajador.fecha_contrato }}</td>
            <td>
                <a href="{% url 'trabajador-editar' trabajador.pk %}" class="btn btn-sm btn-dark">Editar</a>
                <form method="post" action="{% url 'trabajador-eliminar' trabajador.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-dark" onclick="return confirm('¿Seguro que quieres eliminar este trabajador?');">Eliminar</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
