{% extends 'base.html' %}

{% block title %}Listado de Trabajadores{% endblock %}

{% block content %}
  <h2>Listado de Trabajadores</h2>

  <a href="{% url 'trabajador_list' %}" class="btn btn-success">+ Crear nuevo trabajador</a>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Monto Base</th>
        <th>Bono Producción</th>
        <th>Total</th>
        <th>Hora Ordinaria</th>
        <th>Hora Extra</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for t in trabajadores %}
        <tr>
          <td>{{ t.Nombre }}</td>
          <td>{{ t.monto_base }}</td>
          <td>{{ t.bono_produccion }}</td>
          <td>{{ t.total }}</td>
          <td>{{ t.hora_ordinaria }}</td>
          <td>{{ t.hora_extra }}</td>
          <td>
            <a href="{% url 'trabajador_update' t.pk %}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{% url 'trabajador_delete' t.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="7">No hay trabajadores registrados.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}